.flower {
        width: 300px;
        margin: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        display: inline-block;
        vertical-align: top;
    }
.flower img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }