table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
    }
    td, th {
        border: 1px solid #999;
        padding: 10px;
        text-align: left;
    }
    img {
        width: 120px;
        height: 80px;
        object-fit: cover;
        border-radius: 5px;
    }